### Realizando el merge2

In [1]:
import pandas as pd

Cargamos los dos datasets reviwes2.parquet y merge_games_items.parquet

In [2]:
rutareviews = r'C:\Users\Coder\Documents\PI_ML_OPS\Datos\reviews2.parquet'
reviews = pd.read_parquet(rutareviews)

ruta_archivo = r'C:\Users\Coder\Documents\PI_ML_OPS\Datos\merge_games_items.parquet'
merge_games_items = pd.read_parquet(ruta_archivo)

Revisamos la información de los daframes:

In [3]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21069 entries, 0 to 21068
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             21069 non-null  object
 1   posted              21069 non-null  float64
 2   item_id             21069 non-null  int64
 3   recommend           21069 non-null  bool
 4   review              21057 non-null  object
 5   sentiment_analysis  21069 non-null  int64
dtypes: bool(1), float64(1), int64(2), object(2)
memory usage: 843.7+ KB

In [4]:
#Eliminamos los valores nulos
reviews = reviews.dropna()
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21057 entries, 0 to 21068
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             21057 non-null  object
 1   posted              21057 non-null  float64
 2   item_id             21057 non-null  int64
 3   recommend           21057 non-null  bool
 4   review              21057 non-null  object
 5   sentiment_analysis  21057 non-null  int64
dtypes: bool(1), float64(1), int64(2), object(2)
memory usage: 1007.6+ KB

In [5]:
merge_games_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61648 entries, 0 to 61647
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           61648 non-null  object
 1   item_id           61648 non-null  int64
 2   item_name         61648 non-null  object
 3   publisher         61648 non-null  object
 4   genres            61648 non-null  object
 5   title             61648 non-null  object
 6   release_date      61648 non-null  float64
 7   price             61648 non-null  float64
 8   playtime_forever  61648 non-null  int64
 9   developer         61648 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 4.7+ MB

Merge con la columna user_id:

Instanciamos  las columnas que se utilizarán para combinar los DataFrames:

In [6]:
columRev = list(reviews.columns)
columRev

['user_id', 'posted', 'item_id', 'recommend', 'review', 'sentiment_analysis']

In [7]:
mergedColumns = list(merge_games_items.columns)
mergedColumns

['user_id',
 'item_id',
 'item_name',
 'publisher',
 'genres',
 'title',
 'release_date',
 'price',
 'playtime_forever',
 'developer']

In [8]:
columRev = ['user_id', 'posted', 'item_id', 'recommend', 'sentiment_analysis']
mergedColumns = ['user_id', 'item_id', 'title', 'developer', 'genres', 'release_date', 'price', 'playtime_forever']

Realizando el merge:

In [9]:
merge = pd.merge(merge_games_items[mergedColumns],reviews[columRev], on='user_id' ,how='inner')

In [10]:
merge.head()

,user_id,item_id_x,title,developer,genres,release_date,price,playtime_forever,posted,item_id_y,recommend,sentiment_analysis
0,76561197970982479,10,Counter-Strike,Valve,['Action'],2000.0,9.99,6,2011.0,1250,True,2
1,js41637,10,Counter-Strike,Valve,['Action'],2000.0,9.99,0,2014.0,251610,True,2
2,WeiEDKrSat,10,Counter-Strike,Valve,['Action'],2000.0,9.99,328,2013.0,4000,True,1
3,jarrodtrim,10,Counter-Strike,Valve,['Action'],2000.0,9.99,337,2012.0,440,True,2
4,UTNerd24,10,Counter-Strike,Valve,['Action'],2000.0,9.99,5,2014.0,244210,True,1

In [11]:
mergelista = list(merge.columns)
mergelista

['user_id',
 'item_id_x',
 'title',
 'developer',
 'genres',
 'release_date',
 'price',
 'playtime_forever',
 'posted',
 'item_id_y',
 'recommend',
 'sentiment_analysis']

In [12]:
#Eliminamos la columna 'item_id_x' y renombramos la columna 'item_id_y' por 'item_id'
merge.drop('item_id_x', axis=1, inplace=True)


merge.rename(columns={'item_id_y': 'item_id'}, inplace=True)

In [13]:
merge.head()

,user_id,title,developer,genres,release_date,price,playtime_forever,posted,item_id,recommend,sentiment_analysis
0,76561197970982479,Counter-Strike,Valve,['Action'],2000.0,9.99,6,2011.0,1250,True,2
1,js41637,Counter-Strike,Valve,['Action'],2000.0,9.99,0,2014.0,251610,True,2
2,WeiEDKrSat,Counter-Strike,Valve,['Action'],2000.0,9.99,328,2013.0,4000,True,1
3,jarrodtrim,Counter-Strike,Valve,['Action'],2000.0,9.99,337,2012.0,440,True,2
4,UTNerd24,Counter-Strike,Valve,['Action'],2000.0,9.99,5,2014.0,244210,True,1

In [15]:
merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17628 entries, 0 to 17627
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             17628 non-null  object
 1   title               17628 non-null  object
 2   developer           17628 non-null  object
 3   genres              17628 non-null  object
 4   release_date        17628 non-null  float64
 5   price               17628 non-null  float64
 6   playtime_forever    17628 non-null  int64
 7   posted              17628 non-null  float64
 8   item_id             17628 non-null  int64
 9   recommend           17628 non-null  bool
 10  sentiment_analysis  17628 non-null  int64
dtypes: bool(1), float64(3), int64(3), object(4)
memory usage: 1.4+ MB

Guardamos el dataframe en un archivo .parquet

In [14]:
merge.to_parquet(r'C:\Users\Coder\Documents\PI_ML_OPS\Datos\mergeFinal.parquet')